@tailwind base;
@tailwind components;
@tailwind utilities;

div:empty:before {
  content: attr(data-placeholder);
  color: rgb(155, 155, 155);
}

.font-bold, span {
  transition: all 0.3s ease;
}

.select-menu::-webkit-scrollbar {
  width: 16px;
  transform: translateX(10px);
  height: 2800px;
  display: flex;
  justify-items: center;
  align-items: center;
}

.select-menu::-webkit-scrollbar-track {
  background: transparent;
}

.select-menu::-webkit-scrollbar-thumb {
  background: rgb(190, 190, 190);
  border: 5px solid transparent;
  border-radius: 100px;
  background-clip: padding-box;
}
